#Score {
   margin-right: 88%;
}
#Timer {
margin-left: 84%;
}
span{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: xx-large;
}

body
{
background-color:#a9f04b;
}
p{
    font-size: xx-large;
}

h1
{
    
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#sketch_name
{
  color:red;
}

#show_sketch
{
  float:right;
}
canvas{
  margin-top: 50px;
}
